input[type="email"],
input[type="password"],
input[type="id"],
input[type="nickname"]
{
    width: 100%; /* 원하는 너비 */
    height: 40px; /* 원하는 높이 */
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box; /* 패딩 포함 */
    padding: 10px;
}

.login-form form{
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-btn-group {
    display: flex; /* Flexbox 사용 */
    justify-content: space-evenly; /* 버튼 간 간격 균등 분배 */
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 버튼 사이의 간격 */
    width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
}

.login-form
{
    position: relative;
    top : 150px;
}

.login-btn
{
    position: relative;

}

.join-btn
{
    position: relative;
    top:10px;
    background-color: #f9f9f9;
    color: black;
}