.message-group {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}

.btn-detail-group button {
    width: 20%;

    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.message-item-group span
{
    width: 20%;
}

.message-item-group
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    gap: 20px;
}

.message-group h1
{
    margin-bottom: 20px;
}
