.post-detail {
    display: flex;
    flex-direction: column; /* 내부 요소를 세로로 정렬 */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 50px;
    min-height: 650px; /* 최소 높이를 유지 */
}

/* 버튼 그룹 */
.btn-group {
    margin-top: auto; /* 컨테이너의 맨 아래로 밀림 */
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ddd; /* 위쪽에 구분선 추가 */
}
/* 개별 버튼 */
.btn-group .btn {
    padding: 10px 20px;
    width: 125px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn-group .btn:hover {
    background-color: #0056b3;
}

.post_title
{
    font-size: 25px;
}
