.repassword > div
{
    margin-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* 입력칸 간격 */
    border: 1px solid #ccc;
    width: 40%;
    position: relative;
    top : 150px;
    left: 30%;
}

.box .id-input {

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box > div
{
    width: 60%;
    margin: 0 auto;
}


.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.box .eye-btn {
    position: absolute;
    width: 10%;
    height: 50%;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    font-size: 18px;
    right: 50px;
}
.eye-btn:hover {
    color: black;
    background: none; /* 호버 시 배경 없애기 */
}